.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  gap: 6px;

  .header {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .tasks {
    flex: 1;
    overflow-y: auto;

    .task {
      &[data-complete="true"] {
        color: greenyellow;
      }

      &[data-active="true"] {
        color: orange;
      }
    }
  }

  .buttons {
    display: flex;
    gap: 6px;

    .next {
      flex: 1;
      font-size: 30px;
      padding: 6px;
    }
  }
}