.container {
  border: 1px solid white;
  border-radius: 4px;
  padding: 3px;
  display: flex;

  &[data-complete="true"] {
    color: greenyellow;
    border-color: greenyellow;
  }

  &[data-active="true"] {
    color: orange;
    border-color: orange;
  }

  .firstFingerEmoji {
    padding-inline-start: 3px;
  }

  .fingerEmoji {
    height: 1em;
  }

  .text {
    padding: 0px 3px;
  }

  .spacer {
    flex: 1;
  }

  .timeCompleted {
    color: white;
    opacity: 0.5;
    font-size: 12px;
  }
}